<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.StudentMapper">

	<!-- 전체 시험 점수 평균 -->
	<select id="selectTestAllAvg" resultType="java.util.Map">
		SELECT COUNT(t.testNo) AllTestCount
				, ROUND(AVG(t.score)) AllScoreAvg
		FROM (SELECT test_no testNo
						, student_no studentNo
						, score
				FROM score) t
	</select>
	
	<!-- 로그인 학생 점수 평균 -->
	<select id="selectTestOneAvg" parameterType="int" resultType="java.util.Map">
		SELECT COUNT(t.testNo) testCount
				, ROUND(AVG(t.score)) scoreAvg
		FROM (SELECT test_no testNo
						, student_no studentNo
						, score
				FROM score) t
		WHERE t.studentNo = #{studentNo}
	</select>
	
	<!-- 문제 정답 -->
	<select id="selectTestAnswer" parameterType="int" resultType="java.util.Map">
		SELECT t.test_no testNo
				, ex.example_idx exampleIdx
				, ex.example_title exampleTitle
				, ex.example_ox exampleOx
		FROM test t 
			INNER JOIN question qu ON t.test_no = qu.test_no
			INNER JOIN example ex ON qu.question_no = ex.question_no
		WHERE t.test_no = #{testNo} AND ex.example_ox = '정답'
	</select>
	
	<!-- 학생이 선택한 답 -->
	<select id="selectStudentAnswer" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT t.test_no testNo
				, t.test_title testTitle
				, qu.question_no questionNo
				, qu.question_idx questionIdx
				, qu.question_title questionTitle
				, pa.student_no studentNo
				, pa.answer answer
				, ex.example_title exampleTitle
				, ex.example_ox exampleOx
				, COUNT(case when ex.example_ox = '정답' then 1 END) OVER() oCount
				, COUNT(qu.question_no) OVER() questionCount
				, sc.score scoreCk
		FROM test t 
			INNER JOIN question qu ON t.test_no = qu.test_no
			INNER JOIN example ex ON qu.question_no = ex.question_no
			INNER JOIN paper pa ON ex.question_no = pa.question_no
			INNER JOIN score sc ON pa.student_no = sc.student_no AND t.test_no = sc.test_no
		WHERE t.test_no = #{testNo} AND pa.student_no = #{studentNo} AND pa.answer = ex.example_idx
		GROUP BY questionNo
		ORDER BY questionIdx ASC
	</select>
	
	<!-- 학생 시험점수 입력 -->
	<insert id="insertScore" parameterType="goodee.gdj58.online.vo.Score">
		INSERT INTO score (
			test_no
			, student_no
			, score
		) VALUES (
			#{testNo}
			, #{studentNo}
			, #{score}
		)
	</insert>

	<!-- 학생 시험응시 문제 답안 입력 -->
	<insert id="insertAnswer" parameterType="goodee.gdj58.online.vo.Paper">
		INSERT INTO paper (
			student_no
			, question_no
			, answer
		) VALUES (
			#{studentNo}
			, #{questionNo}
			, #{answer}
		)
	</insert>

	<!-- 학생 시험응시 보기 리스트 -->
	<select id="selectStudentTestExampleList" parameterType="int" resultType="java.util.Map">
		SELECT example_no exampleNo
				, example_idx exampleIdx
				, example_title exampleTitle
				, example_ox exampleOx
		FROM example
		WHERE question_no = #{questionNo}
		ORDER BY example_idx ASC
	</select>
	
	<!-- 학생 시험응시 문제 리스트 -->
	<select id="selectStudentTestQuestionList" parameterType="int" resultType="java.util.Map">
		SELECT question_no questionNo
				, question_idx questionIdx
				, question_title questionTitle
		FROM question 
		WHERE test_no = #{testNo}
		ORDER BY questionIdx ASC
	</select>

	<!-- 학생 시험 리스트 마지막페이지 -->
	<select id="studentTestCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM test
		<where>
			<if test="searchWord != null || searchWord != ''">
				test_title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>

	<!-- 학생 시험 리스트 -->
	<select id="selectStudentTestList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT t.test_no testNo
				, t.test_title testTitle
				, t.test_date testDate
				, q.question_no questionNo
		FROM test t 
			LEFT OUTER JOIN question q ON t.test_no = q.test_no
			LEFT OUTER JOIN paper pa ON q.question_no = pa.question_no
		<where>
			<if test="searcWord != null || searchWord != ''">
				AND test_title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		GROUP BY testNo
		ORDER BY t.test_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 학생 비밀번호 수정 -->
	<update id="updateStudentPw" parameterType="java.util.Map">
		UPDATE student
		SET student_pw = PASSWORD(#{newPw})
		WHERE student_no = #{studentNo} AND student_pw = PASSWORD(#{oldPw})
	</update>

	<!-- 학생 로그인 -->
	<select id="studentLogin" parameterType="goodee.gdj58.online.vo.Student" resultType="goodee.gdj58.online.vo.Student">
		SELECT student_no studentNo
				, student_id studentId
				, student_name studentName
		FROM student
		WHERE student_id = #{studentId} AND student_pw = PASSWORD(#{studentPw})
	</select>

	<!-- 학생 삭제 -->
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM student
		WHERE student_no = #{studentNo}
	</delete>
	
	<!-- 학생 추가 -->
	<insert id="insertStudent" parameterType="goodee.gdj58.online.vo.Student">
		INSERT INTO student (
			student_id
			, student_pw
			, student_name
		) VALUES (
			#{studentId}
			, PASSWORD(#{studentPw})
			, #{studentName}
		)
	</insert>
	
	<!-- 마지막페이지 -->
	<select id="studentCount" resultType="int" parameterType="String">
		SELECT COUNT(*) FROM student
		<where>
			<if test="searchWord != null || searchWord != ''">
				student_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>

	<!-- 학생 리스트 -->
	<select id="selectStudentList" parameterType="java.util.Map" resultType="goodee.gdj58.online.vo.Student">
		SELECT
			student_no studentNo
			, student_id studentId
			, student_name studentName
		FROM student
		<where>
			<if test="searchWord != null || searchWord != ''">
				student_name LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		ORDER BY student_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
</mapper>